In [1]:
import numpy as np
import pandas as pd

In [2]:
filename = 'data/korean-idol.csv'
df = pd.read_csv(filename, sep = ',')
df

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947
2   강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745
3      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501
4     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928
5     정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792
7     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
10    태연   소녀시대       SM  여자  1989-03-09    NaN   A   3918661
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442

In [3]:
df2 = df.copy()
df2

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947
2   강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745
3      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501
4     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928
5     정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792
7     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
10    태연   소녀시대       SM  여자  1989-03-09    NaN   A   3918661
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442

In [4]:
# 17-2. 데이터프레임 병합하기
# - concat :row나 column 기준으로 단순하게 이어 붙이기
# - merge : 특정한 고유키(unique id) 값을 기준으로 병합하기.

In [5]:
a = '''
    pd.merge(left, right, on = "기준column", how = "left")
    left와 right는 변합할 두 dataframe을 대입함.
    on에는 병합 기준이 되는 column을 넣어줌.
    how에는 "left, right, inner, outer" <- 4가지 병합 방식 중 한가지를 선택함.
'''

In [6]:
df_right = df2.drop([1, 3, 5, 7, 9], axis = 0)
df_right

      이름     그룹   소속사  성별        생년월일      키 혈액형   브랜드평판지수
0     지민  방탄소년단   빅히트  남자  1995-10-13  173.6   A  10523260
2   강다니엘    NaN   커넥트  남자  1996-12-10  180.0   A   8273745
4     화사    마마무   RBW  여자  1995-07-23  162.1   A   7650928
6     민현   뉴이스트  플레디스  남자  1995-08-09  182.3   O   4989792
8      진  방탄소년단   빅히트  남자  1992-12-04  179.2   O   4570308
10    태연   소녀시대    SM  여자  1989-03-09    NaN   A   3918661
11   차은우   아스트로  판타지오  남자  1997-03-30  183.0   B   3506027
12    백호   뉴이스트  플레디스  남자  1995-07-21  175.0  AB   3301654
13    JR   뉴이스트  플레디스  남자  1995-06-08  176.0   O   3274137
14    슈가  방탄소년단   빅히트  남자  1993-03-09  174.0   O   2925442

In [7]:
df_right = df_right.reset_index(drop = True)

In [8]:
df_right

     이름     그룹   소속사  성별        생년월일      키 혈액형   브랜드평판지수
0    지민  방탄소년단   빅히트  남자  1995-10-13  173.6   A  10523260
1  강다니엘    NaN   커넥트  남자  1996-12-10  180.0   A   8273745
2    화사    마마무   RBW  여자  1995-07-23  162.1   A   7650928
3    민현   뉴이스트  플레디스  남자  1995-08-09  182.3   O   4989792
4     진  방탄소년단   빅히트  남자  1992-12-04  179.2   O   4570308
5    태연   소녀시대    SM  여자  1989-03-09    NaN   A   3918661
6   차은우   아스트로  판타지오  남자  1997-03-30  183.0   B   3506027
7    백호   뉴이스트  플레디스  남자  1995-07-21  175.0  AB   3301654
8    JR   뉴이스트  플레디스  남자  1995-06-08  176.0   O   3274137
9    슈가  방탄소년단   빅히트  남자  1993-03-09  174.0   O   2925442

In [9]:
df

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947
2   강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745
3      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501
4     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928
5     정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792
7     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
10    태연   소녀시대       SM  여자  1989-03-09    NaN   A   3918661
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442

In [10]:
pd.concat([df, df_right], axis = 1)

,이름,그룹,소속사,성별,생년월일,키,혈액형,브랜드평판지수,이름,그룹,소속사,성별,생년월일,키,혈액형,브랜드평판지수
0,지민,방탄소년단,빅히트,남자,1995-10-13,173.6,A,10523260,지민,방탄소년단,빅히트,남자,1995-10-13,173.6,A,10523260.0
1,지드래곤,빅뱅,YG,남자,1988-08-18,177.0,A,9916947,강다니엘,NaN,커넥트,남자,1996-12-10,180.0,A,8273745.0
2,강다니엘,NaN,커넥트,남자,1996-12-10,180.0,A,8273745,화사,마마무,RBW,여자,1995-07-23,162.1,A,7650928.0
3,뷔,방탄소년단,빅히트,남자,1995-12-30,178.0,AB,8073501,민현,뉴이스트,플레디스,남자,1995-08-09,182.3,O,4989792.0
4,화사,마마무,RBW,여자,1995-07-23,162.1,A,7650928,진,방탄소년단,빅히트,남자,1992-12-04,179.2,O,4570308.0
5,정국,방탄소년단,빅히트,남자,1997-09-01,178.0,A,5208335,태연,소녀시대,SM,여자,1989-03-09,NaN,A,3918661.0
6,민현,뉴이스트,플레디스,남자,1995-08-09,182.3,O,4989792,차은우,아스트로,판타지오,남자,1997-03-30,183.0,B,3506027.0
7,소연,아이들,큐브,여자,1998-08-26,NaN,B,4668615,백호,뉴이스트,플레디스,남자,1995-07-21,175.0,AB,3301654.0
8,진,방탄소년단,빅히트,남자,1992-12-04,179.2,O,4570308,JR,뉴이스트,플레디스,남자,1995-06-08,176.0,O,3274137.0
9,하성운,핫샷,스타크루이엔티,남자,1994-03-22,167.1,A,4036489,슈가,방탄소년단,빅히트,남자,1993-03-09,174.0,O,2925442.0
10,태연,소녀시대,SM,여자,1989-03-09,NaN,A,3918661,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,차은우,아스트로,판타지오,남자,1997-03-30,183.0,B,3506027,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,백호,뉴이스트,플레디스,남자,1995-07-21,175.0,AB,3301654,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,JR,뉴이스트,플레디스,남자,1995-06-08,176.0,O,3274137,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,슈가,방탄소년단,빅히트,남자,1993-03-09,174.0,O,2925442,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
pd.merge(df, df_right, on = '이름', how = 'left')

,이름,그룹_x,소속사_x,성별_x,생년월일_x,키_x,혈액형_x,브랜드평판지수_x,그룹_y,소속사_y,성별_y,생년월일_y,키_y,혈액형_y,브랜드평판지수_y
0,지민,방탄소년단,빅히트,남자,1995-10-13,173.6,A,10523260,방탄소년단,빅히트,남자,1995-10-13,173.6,A,10523260.0
1,지드래곤,빅뱅,YG,남자,1988-08-18,177.0,A,9916947,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,강다니엘,NaN,커넥트,남자,1996-12-10,180.0,A,8273745,NaN,커넥트,남자,1996-12-10,180.0,A,8273745.0
3,뷔,방탄소년단,빅히트,남자,1995-12-30,178.0,AB,8073501,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,화사,마마무,RBW,여자,1995-07-23,162.1,A,7650928,마마무,RBW,여자,1995-07-23,162.1,A,7650928.0
5,정국,방탄소년단,빅히트,남자,1997-09-01,178.0,A,5208335,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,민현,뉴이스트,플레디스,남자,1995-08-09,182.3,O,4989792,뉴이스트,플레디스,남자,1995-08-09,182.3,O,4989792.0
7,소연,아이들,큐브,여자,1998-08-26,NaN,B,4668615,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,진,방탄소년단,빅히트,남자,1992-12-04,179.2,O,4570308,방탄소년단,빅히트,남자,1992-12-04,179.2,O,4570308.0
9,하성운,핫샷,스타크루이엔티,남자,1994-03-22,167.1,A,4036489,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,태연,소녀시대,SM,여자,1989-03-09,NaN,A,3918661,소녀시대,SM,여자,1989-03-09,NaN,A,3918661.0
11,차은우,아스트로,판타지오,남자,1997-03-30,183.0,B,3506027,아스트로,판타지오,남자,1997-03-30,183.0,B,3506027.0
12,백호,뉴이스트,플레디스,남자,1995-07-21,175.0,AB,3301654,뉴이스트,플레디스,남자,1995-07-21,175.0,AB,3301654.0
13,JR,뉴이스트,플레디스,남자,1995-06-08,176.0,O,3274137,뉴이스트,플레디스,남자,1995-06-08,176.0,O,3274137.0
14,슈가,방탄소년단,빅히트,남자,1993-03-09,174.0,O,2925442,방탄소년단,빅히트,남자,1993-03-09,174.0,O,2925442.0

In [13]:
#pd.merge(df, df_right, on = '이름', how = 'right') 아래 코드와 동일
pd.merge(df_right, df, on = '이름', how = 'left')

,이름,그룹_x,소속사_x,성별_x,생년월일_x,키_x,혈액형_x,브랜드평판지수_x,그룹_y,소속사_y,성별_y,생년월일_y,키_y,혈액형_y,브랜드평판지수_y
0,지민,방탄소년단,빅히트,남자,1995-10-13,173.6,A,10523260,방탄소년단,빅히트,남자,1995-10-13,173.6,A,10523260
1,강다니엘,NaN,커넥트,남자,1996-12-10,180.0,A,8273745,NaN,커넥트,남자,1996-12-10,180.0,A,8273745
2,화사,마마무,RBW,여자,1995-07-23,162.1,A,7650928,마마무,RBW,여자,1995-07-23,162.1,A,7650928
3,민현,뉴이스트,플레디스,남자,1995-08-09,182.3,O,4989792,뉴이스트,플레디스,남자,1995-08-09,182.3,O,4989792
4,진,방탄소년단,빅히트,남자,1992-12-04,179.2,O,4570308,방탄소년단,빅히트,남자,1992-12-04,179.2,O,4570308
5,태연,소녀시대,SM,여자,1989-03-09,NaN,A,3918661,소녀시대,SM,여자,1989-03-09,NaN,A,3918661
6,차은우,아스트로,판타지오,남자,1997-03-30,183.0,B,3506027,아스트로,판타지오,남자,1997-03-30,183.0,B,3506027
7,백호,뉴이스트,플레디스,남자,1995-07-21,175.0,AB,3301654,뉴이스트,플레디스,남자,1995-07-21,175.0,AB,3301654
8,JR,뉴이스트,플레디스,남자,1995-06-08,176.0,O,3274137,뉴이스트,플레디스,남자,1995-06-08,176.0,O,3274137
9,슈가,방탄소년단,빅히트,남자,1993-03-09,174.0,O,2925442,방탄소년단,빅히트,남자,1993-03-09,174.0,O,2925442

In [14]:
# inner 방식은 Dataframe에 모두 키 값이 존재하는 경우에만 병합
pd.merge(df, df_right, on = "이름", how = "inner")

,이름,그룹_x,소속사_x,성별_x,생년월일_x,키_x,혈액형_x,브랜드평판지수_x,그룹_y,소속사_y,성별_y,생년월일_y,키_y,혈액형_y,브랜드평판지수_y
0,지민,방탄소년단,빅히트,남자,1995-10-13,173.6,A,10523260,방탄소년단,빅히트,남자,1995-10-13,173.6,A,10523260
1,강다니엘,NaN,커넥트,남자,1996-12-10,180.0,A,8273745,NaN,커넥트,남자,1996-12-10,180.0,A,8273745
2,화사,마마무,RBW,여자,1995-07-23,162.1,A,7650928,마마무,RBW,여자,1995-07-23,162.1,A,7650928
3,민현,뉴이스트,플레디스,남자,1995-08-09,182.3,O,4989792,뉴이스트,플레디스,남자,1995-08-09,182.3,O,4989792
4,진,방탄소년단,빅히트,남자,1992-12-04,179.2,O,4570308,방탄소년단,빅히트,남자,1992-12-04,179.2,O,4570308
5,태연,소녀시대,SM,여자,1989-03-09,NaN,A,3918661,소녀시대,SM,여자,1989-03-09,NaN,A,3918661
6,차은우,아스트로,판타지오,남자,1997-03-30,183.0,B,3506027,아스트로,판타지오,남자,1997-03-30,183.0,B,3506027
7,백호,뉴이스트,플레디스,남자,1995-07-21,175.0,AB,3301654,뉴이스트,플레디스,남자,1995-07-21,175.0,AB,3301654
8,JR,뉴이스트,플레디스,남자,1995-06-08,176.0,O,3274137,뉴이스트,플레디스,남자,1995-06-08,176.0,O,3274137
9,슈가,방탄소년단,빅히트,남자,1993-03-09,174.0,O,2925442,방탄소년단,빅히트,남자,1993-03-09,174.0,O,2925442

In [15]:
# outer 방식은 하나의 Dataframe에 모두 키 값이 존재하는 경우에만 병합
# outer 방식에서는 없는 값은 NaN으로 대입되어 짐.
pd.merge(df, df_right, on = '이름', how = 'outer')

,이름,그룹_x,소속사_x,성별_x,생년월일_x,키_x,혈액형_x,브랜드평판지수_x,그룹_y,소속사_y,성별_y,생년월일_y,키_y,혈액형_y,브랜드평판지수_y
0,지민,방탄소년단,빅히트,남자,1995-10-13,173.6,A,10523260,방탄소년단,빅히트,남자,1995-10-13,173.6,A,10523260.0
1,지드래곤,빅뱅,YG,남자,1988-08-18,177.0,A,9916947,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,강다니엘,NaN,커넥트,남자,1996-12-10,180.0,A,8273745,NaN,커넥트,남자,1996-12-10,180.0,A,8273745.0
3,뷔,방탄소년단,빅히트,남자,1995-12-30,178.0,AB,8073501,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,화사,마마무,RBW,여자,1995-07-23,162.1,A,7650928,마마무,RBW,여자,1995-07-23,162.1,A,7650928.0
5,정국,방탄소년단,빅히트,남자,1997-09-01,178.0,A,5208335,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,민현,뉴이스트,플레디스,남자,1995-08-09,182.3,O,4989792,뉴이스트,플레디스,남자,1995-08-09,182.3,O,4989792.0
7,소연,아이들,큐브,여자,1998-08-26,NaN,B,4668615,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,진,방탄소년단,빅히트,남자,1992-12-04,179.2,O,4570308,방탄소년단,빅히트,남자,1992-12-04,179.2,O,4570308.0
9,하성운,핫샷,스타크루이엔티,남자,1994-03-22,167.1,A,4036489,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,태연,소녀시대,SM,여자,1989-03-09,NaN,A,3918661,소녀시대,SM,여자,1989-03-09,NaN,A,3918661.0
11,차은우,아스트로,판타지오,남자,1997-03-30,183.0,B,3506027,아스트로,판타지오,남자,1997-03-30,183.0,B,3506027.0
12,백호,뉴이스트,플레디스,남자,1995-07-21,175.0,AB,3301654,뉴이스트,플레디스,남자,1995-07-21,175.0,AB,3301654.0
13,JR,뉴이스트,플레디스,남자,1995-06-08,176.0,O,3274137,뉴이스트,플레디스,남자,1995-06-08,176.0,O,3274137.0
14,슈가,방탄소년단,빅히트,남자,1993-03-09,174.0,O,2925442,방탄소년단,빅히트,남자,1993-03-09,174.0,O,2925442.0

In [17]:
df_right.columns = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H']
df_right

      A      B     C   D           E      F   G         H
0    지민  방탄소년단   빅히트  남자  1995-10-13  173.6   A  10523260
1  강다니엘    NaN   커넥트  남자  1996-12-10  180.0   A   8273745
2    화사    마마무   RBW  여자  1995-07-23  162.1   A   7650928
3    민현   뉴이스트  플레디스  남자  1995-08-09  182.3   O   4989792
4     진  방탄소년단   빅히트  남자  1992-12-04  179.2   O   4570308
5    태연   소녀시대    SM  여자  1989-03-09    NaN   A   3918661
6   차은우   아스트로  판타지오  남자  1997-03-30  183.0   B   3506027
7    백호   뉴이스트  플레디스  남자  1995-07-21  175.0  AB   3301654
8    JR   뉴이스트  플레디스  남자  1995-06-08  176.0   O   3274137
9    슈가  방탄소년단   빅히트  남자  1993-03-09  174.0   O   2925442

In [19]:
#pd.merge(df, df_right, on = '이름', how = 'outer') 불가
# df와 df_right를 병합하려면 df에는 '이름', df_right에는 'A'로 표기되어 있어서
# 기준을 left_on, right_on을 사용하여 병합할 수 있음
pd.merge(df, df_right, left_on = '이름', right_on = 'A', how = 'outer')

,이름,그룹,소속사,성별,생년월일,키,혈액형,브랜드평판지수,A,B,C,D,E,F,G,H
0,지민,방탄소년단,빅히트,남자,1995-10-13,173.6,A,10523260,지민,방탄소년단,빅히트,남자,1995-10-13,173.6,A,10523260.0
1,지드래곤,빅뱅,YG,남자,1988-08-18,177.0,A,9916947,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,강다니엘,NaN,커넥트,남자,1996-12-10,180.0,A,8273745,강다니엘,NaN,커넥트,남자,1996-12-10,180.0,A,8273745.0
3,뷔,방탄소년단,빅히트,남자,1995-12-30,178.0,AB,8073501,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,화사,마마무,RBW,여자,1995-07-23,162.1,A,7650928,화사,마마무,RBW,여자,1995-07-23,162.1,A,7650928.0
5,정국,방탄소년단,빅히트,남자,1997-09-01,178.0,A,5208335,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,민현,뉴이스트,플레디스,남자,1995-08-09,182.3,O,4989792,민현,뉴이스트,플레디스,남자,1995-08-09,182.3,O,4989792.0
7,소연,아이들,큐브,여자,1998-08-26,NaN,B,4668615,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,진,방탄소년단,빅히트,남자,1992-12-04,179.2,O,4570308,진,방탄소년단,빅히트,남자,1992-12-04,179.2,O,4570308.0
9,하성운,핫샷,스타크루이엔티,남자,1994-03-22,167.1,A,4036489,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,태연,소녀시대,SM,여자,1989-03-09,NaN,A,3918661,태연,소녀시대,SM,여자,1989-03-09,NaN,A,3918661.0
11,차은우,아스트로,판타지오,남자,1997-03-30,183.0,B,3506027,차은우,아스트로,판타지오,남자,1997-03-30,183.0,B,3506027.0
12,백호,뉴이스트,플레디스,남자,1995-07-21,175.0,AB,3301654,백호,뉴이스트,플레디스,남자,1995-07-21,175.0,AB,3301654.0
13,JR,뉴이스트,플레디스,남자,1995-06-08,176.0,O,3274137,JR,뉴이스트,플레디스,남자,1995-06-08,176.0,O,3274137.0
14,슈가,방탄소년단,빅히트,남자,1993-03-09,174.0,O,2925442,슈가,방탄소년단,빅히트,남자,1993-03-09,174.0,O,2925442.0